<div class="header-container" >
  <div class="menu-container">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    

    <mat-menu #menu="matMenu">

      <button mat-menu-item [routerLink]="['/summary']" routerLinkActive="active-link">Summary</button>
      <button mat-menu-item [routerLink]="['/todo']">Board</button>
      <button mat-menu-item [routerLink]="['/contacts']">Contacts</button>
      <button mat-menu-item (click)="logout()">Logout</button>
      
    </mat-menu>
  
  </div>
  
  <h4>KanbanFlow</h4>
</div>
