
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 10%;
    margin-bottom: 20px;
    position: relative;
  }
  
  .menu-container {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Optional: Abstand zum linken Rand */

    button{
      color:white;
      font-weight: 700;
      font-size: 24px;
    }
  }
  
  .header-container h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  