
<div class="in-progress-container" cdkDropListGroup>
    <div class="taskStreet"cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)" >
      <h3>Done</h3>
      <img (click)="openAddDoneDialog()" src="assets/img/plus.svg" alt="Add Task">
    </div>
  
    <ul>
      <li *ngFor="let done of done" cdkDrag class="todo-card">
        <input type="checkbox" [(ngModel)]="done.delayed" (change)="toggleDelayed(done)" />
        <div class="edit-card">
          <h2>{{ done.text }}</h2>
          <p>Description: {{ done.description }}</p>
          <p>Contacts:</p>
          <ul>
            <li *ngFor="let contact of done.contacts">
              <strong>{{ contact.name }}</strong><br>
              Email: {{ contact.email }}<br>
              Phone: {{ contact.phoneNumber }}
            </li>
          </ul>
          <button (click)="addContactsDone(done)">Edit</button>
          <button (click)="deleteDone(done.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>