




  <div class=" tasks-container example-container" cdkDropListGroup>
    <div class="example-list" 
         id="doneContainer"
         cdkDropList 
         [cdkDropListData]="filteredDoneTasks" 
         [cdkDropListConnectedTo]="['todoContainer', 'todayContainer','inProgressContainer', 'doneContainer']"
         (cdkDropListDropped)="drop($event)">
      <h1>Done
          <img (click)="openAddDoneDialog()" src="assets/img/plus.svg" alt="Add Task">
      </h1>

      <p *ngIf="filteredDoneTasks.length === 0 && searchTerm.trim() === ''" class="no-tasks-message">No done tasks</p>
      <p *ngIf="filteredDoneTasks.length === 0 && searchTerm.trim() !== ''" class="no-tasks-message">No results found</p>
    <ul *ngIf="filteredDoneTasks.length > 0">
      <li *ngFor="let task of filteredDoneTasks" cdkDrag class="example-box"(click)="openTaskDetailsDialog(task)" >
        <input type="checkbox" [(ngModel)]="task.delayed" (change)="toggleDelayed(task)" />
        <div class="edit-card">
          <h3 >{{ task.category}}</h3>
          <h2>{{ task.text }}</h2>
          <p>Description: {{ task.description }}</p> 
          <p>Due Date: {{ task.dueDate | date }}</p> 
          <p >Priority: {{ task.priority }}</p>
          <p>Contacts:</p>
          <ul class="contact-list">
            <li *ngFor="let contact of task.contacts.slice(0, 5)" class="contact-circle"
           
            (click)="openContactDialog(contact)" >
              <strong>{{ contact.name[0] }}</strong>
            </li>
            <li *ngIf="task.contacts.length > 5" 
              class="contact-circle extra-contacts" 
              
              matTooltip="{{ getHiddenContacts(task.contacts) }}">
            +{{ task.contacts.length - 5 }}
          </li>
          </ul>
          <div class="button-container">
             <button (click)="addContactsDone(task ,$event )" mat-fab color="primary" extended>Edit</button>
             <button (click)="deleteDone(task.id , $event)" mat-fab class="custom-fab" extended>Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>