@import "./../../styles.scss";

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 32px;
  }
  
  input[type="text"] {
    border: none;
    background: transparent;
    width: 70%;
  }
  
  .button {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #c82333;
  }
  
  .contacts-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .contacts-list {
    flex: 1;
    width: 100%;

    h2{
      padding:20px;
      display: flex;
      justify-content: center;
    }
  }
  
  h1 {
    display: flex;
    justify-content: center;
    color: rgb(66, 82, 110);
    font-weight: bold;
  }
  
  .custom-fab {
    background-color: white !important;   
    color: blue !important;               
    border: 2px solid blue !important;    
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .custom-fab:hover {
    background-color: red !important;     
    color: white !important;              
    border-color: red !important;         
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .example-box:hover {
    background-color: lightblue;
    transition: background-color 0.3s ease; 
  }
  
   .contact-container::-webkit-scrollbar {
    display: none; 
  }
  
  .contact-container {
    height: auto;  
    overflow-y: scroll;
    list-style-type: none;  
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  
    scrollbar-width: none;
  
    strong {
      margin: 0 0 16px;
      width: 220px;
      height: 38px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: rgba(69, 137, 255, 1);
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
  
    p {
      width: 220px;
      height: 38px;
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      color: rgba(168, 168, 168, 1);
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    max-height: 100vh;
    list-style-type: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

    .button-container {
        position: fixed;
        bottom: 20px;  
        left: 0;
        right: 0;
        z-index: 1000;  
        justify-content: center;
        display: flex;
        gap: 20px;
      }

      .button-container button {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
        font-size: 16px;
        border-radius: 8px;
      }
      
  .contacts-list li {
    margin: 5px 0;
    padding: 10px;
    border: 4px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }





















  




  /* Mobile Ansicht */
  @media (max-width: 768px) {
  
  
    .button-container button {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      padding: 15px;
      font-size: 16px;
      border-radius: 8px;
    }
  }
  