<h1 mat-dialog-title>Task</h1>
<div mat-dialog-content class="dialog-content">

  <mat-form-field appearance="fill">
    <mat-label>Kategorie*</mat-label>
    <mat-select [(ngModel)]="task.category" name="category">
      <mat-option *ngFor="let option of categoryOptions" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Task Name</mat-label>
    <input matInput [(ngModel)]="task.name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="task.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="custom-width">
    <mat-label>Select Contacts</mat-label>
    <mat-select [(ngModel)]="selectedContacts" multiple>
      <mat-option *ngFor="let contact of allContacts"  [value]="contact">
        {{ contact.name }} ({{ contact.email }}) - {{ contact.phone_number }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="task.priority">
      <mat-option *ngFor="let option of priorityOptions" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="task.dueDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>