
  




  <div class="in-progress-container example-container" cdkDropListGroup>
    <div class="example-list" cdkDropList
         id="inProgressContainer"
         [cdkDropListData]="inProgress"
         [cdkDropListConnectedTo]="['todoContainer', 'todayContainer','inProgressContainer', 'doneContainer']"
         (cdkDropListDropped)="drop($event)">
      <h3>In Progress</h3>
      <img (click)="openAddInProgressDialog()" src="assets/img/plus.svg" alt="Add Task">
    
  
    <ul>
      <li *ngFor="let progress of inProgress" cdkDrag class="todo-card example-box">
        <input type="checkbox" [(ngModel)]="progress.delayed" (change)="toggleDelayed(progress)" />
        <div class="edit-card">
          <h2>{{ progress.text }}</h2>
          <p>Description: {{ progress.description }}</p>
          <p>Contacts:</p>
          <ul>
            <li *ngFor="let contact of progress.contacts">
              <strong>{{ contact.name }}</strong><br>
              Email: {{ contact.email }}<br>
              Phone: {{ contact.phoneNumber }}
            </li>
          </ul>
          <button (click)="addContactsInProgress(progress)">Edit</button>
          <button (click)="deleteInProgress(progress.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>