<section class="privacyContainer">
    <div class="summaryContainer">
        <div class="arrowContainer" (click)="navigateToLogin()">
            <img class="left-life" src="assets/img/left.svg" alt="Arrow Image">
        </div>
        <h1>Legal Notice</h1>
    </div>
    <nav class="privacyBox">
        <div>
            <h1>impressum</h1><br>
            <p> Diese Website besteht aus Teilangeboten, die von verschiedenen Anbietern verantwortet werden.<br>
                Verantwortlicher i. S. d. § 5 TMG für alle Inhalte,<br>
                sofern im Folgenden kein abweichender Verantwortlicher angegeben ist:<br>
                Developer Akademie GmbH<br>
                <br>Anbieter:<br><br>Kochwelt Projekt AG<br>
            </p><br>
            <h3>Inhaber:</h3><br>
            Selcuk<br>
            Junus<br><br>
            Petersbergstraße 6<br><br>
            83026 Rosenheim<br><br>
            Germany<br><br>
            Mail: selcuk.80&#64;outlook.de<br><br>
            Handelsregister-Nummer: None<br><br>
            Management:
            <br>
            Junus<p></p>
        </div>
    </nav>
</section>