
  <div class="tasks-container example-container" cdkDropListGroup>
    <!-- Do Today Container -->
    <div class=" example-list " cdkDropList id="todayContainer"
         [cdkDropListData]="filteredDoTodayTasks"
         [cdkDropListConnectedTo]="['todoContainer', 'todayContainer','inProgressContainer', 'doneContainer']"
         (cdkDropListDropped)="drop($event)">
      <h1>Do Today
          <img (click)="openAddDoTodayDialog()" src="assets/img/plus.svg" alt="Add Task">
      </h1>
  
      <p *ngIf="filteredDoTodayTasks.length === 0 && searchTerm.trim() === ''" class="no-tasks-message">No tasks to do today</p>
      <p *ngIf="filteredDoTodayTasks.length === 0 && searchTerm.trim() !== ''" class="no-tasks-message">No results found</p>
      <ul *ngIf="filteredDoTodayTasks.length > 0">
        <li *ngFor="let task of filteredDoTodayTasks" cdkDrag class="example-box" (click)="openTaskDetailsDialog(task)">
          <input type="checkbox" [(ngModel)]="task.delayed" (change)="toggleDelayed(task)" />
          <div class="edit-card">
            <h3 >{{ task.category}}</h3>
            <h2>{{ task.text }}</h2>
            <p>Description: {{ task.description }}</p> 
           
            <p>Due Date: {{ task.dueDate | date }}</p> 
            
  
            
            <p >Priority: {{ task.priority }}</p>
            <p>Contacts:</p>
            
            <ul class="contact-list">
              <li *ngFor="let contact of task.contacts.slice(0, 5)" class="contact-circle"
              (click)="openContactDialog(contact)">
                <strong>{{ contact.name[0] }}</strong>
              </li>
              <li *ngIf="task.contacts.length > 5" 
                class="contact-circle extra-contacts" 
                matTooltip="{{ getHiddenContacts(task.contacts) }}">
              +{{ task.contacts.length - 5 }}
            </li>
            </ul>
            <div class="button-container">
               <button (click)="addContactsToTask(task,$event)" mat-fab color="primary" extended>Edit</button>
               <button (click)="deleteDoTodayTask(task.id, $event)" mat-fab class="custom-fab" extended>Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
    