










<div class="tasks-container example-container" cdkDropListGroup>
  <!-- Do Today Container -->
  <div class=" example-list " cdkDropList id="todayContainer"
       [cdkDropListData]="todayTasks"
       [cdkDropListConnectedTo]="['todoContainer', 'todayContainer','inProgressContainer', 'doneContainer']"
       (cdkDropListDropped)="drop($event)">
    <h1>Do Today
        <img (click)="openAddDoTodayDialog()" src="assets/img/plus.svg" alt="Add Task">
    </h1>
    <!-- Task List for 'Do Today' -->
    <ul>
      <li *ngFor="let task of todayTasks" cdkDrag class="example-box">
        <input type="checkbox" [(ngModel)]="task.delayed" (change)="toggleDelayed(task)" />
        <div class="edit-card">
          <h2>{{ task.text }}</h2>
          <p>Description: {{ task.description }}</p>
          <p>Contacts:</p>
          <ul class="contact-list">
            <li *ngFor="let contact of task.contacts.slice(0, 5)" class="contact-circle"
            (click)="openContactDialog(contact)">
              <strong>{{ contact.name[0] }}</strong>
            </li>
            <li *ngIf="task.contacts.length > 5" 
              class="contact-circle extra-contacts" 
              matTooltip="{{ getHiddenContacts(task.contacts) }}">
            +{{ task.contacts.length - 5 }}
          </li>
          </ul>
          <div class="button-container">
             <button (click)="addContactsToTask(task)" mat-fab color="primary" extended>Edit</button>
             <button (click)="deleteDoTodayTask(task.id)" mat-fab class="custom-fab" extended>Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
  