
<app-header></app-header>

<div class="container">
  <div class="main-container">
    <div class="tasks-container example-container " cdkDropListGroup>
      <div class="todo-container example-list" cdkDropList id="todoContainer"    
           [cdkDropListData]="todos"
           [cdkDropListConnectedTo]="['todoContainer', 'todayContainer','inProgressContainer', 'doneContainer']"
           (cdkDropListDropped)="drop($event)">
           <h1>To-do
            <img (click)="addNewTask()" src="assets/img/plus.svg" alt="Add Task">
          </h1>
          <p *ngIf="todos.length === 0" class="no-tasks-message">No tasks to do today</p>
        <ul *ngIf="todos.length > 0">
          <li *ngFor="let todo of todos" cdkDrag class="example-box ">
            <input type="checkbox" [(ngModel)]="todo.delayed" (change)="toggleDelayed(todo)" />
            <div class="edit-card">
              <h3 >{{ todo.category}}</h3>
              <h2>{{ todo.text }}</h2>
              <p>Description: {{ todo.description }}</p>
              <p>Due Date: {{ todo.dueDate | date }}</p> 
              <p >Priority: {{ todo.priority }}</p>
              <p>Contacts:</p>
              <ul class="contact-list">
                <li *ngFor="let contact of todo.contacts.slice(0, 5)" class="contact-circle"
                (click)="openContactShowDialog(contact)">
                  <strong>{{ contact.name[0] }}</strong>
                </li>
                <li *ngIf="todo.contacts.length > 5" 
                  class="contact-circle extra-contacts" 
                  matTooltip="{{ getHiddenContacts(todo.contacts) }}">
                +{{ todo.contacts.length - 5 }}
              </li>
              </ul>
              <div class="button-container">
                 <button  (click)="openEditDialog(todo)"mat-fab color="primary" extended>Edit</button>
                 <button (click)="deleteTodo(todo.id)" mat-fab  class="custom-fab"  extended>Delete</button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Do Today Component -->
      <app-do-today></app-do-today>
      
      <!-- In Progress Component -->
      <app-in-progress></app-in-progress>
      
      <!-- Done Component -->
      <app-done></app-done>
    </div>
  </div>
</div>
