
<app-header></app-header>


<div class="mobile-nav-container">
  <button (click)="scrollToSection('todoContainer')" mat-icon-button>
    <mat-icon>assignment</mat-icon> 
  </button>
  <button (click)="scrollToSection('todayContainer')" mat-icon-button>
    <mat-icon>today</mat-icon> 
  </button>
  <button (click)="scrollToSection('inProgressContainer')" mat-icon-button>
    <mat-icon>hourglass_full</mat-icon> 
  </button>
  <button (click)="scrollToSection('doneContainer')" mat-icon-button>
    <mat-icon>done</mat-icon> 
  </button>
</div>



<div class="container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Seacrh tasks..." (input)="filterTasks()">
  </div>
  <div class="main-container">

   


    <div class="tasks-container example-container " cdkDropListGroup>
      <div class="todo-container example-list" cdkDropList id="todoContainer"    
           [cdkDropListData]="filteredTodos"
           [cdkDropListConnectedTo]="['todoContainer', 'todayContainer','inProgressContainer', 'doneContainer']"
           (cdkDropListDropped)="drop($event)">
           <h1>To-do
            <img (click)="addNewTask()" src="assets/img/plus.svg" alt="Add Task">
          </h1>
          <p *ngIf="filteredTodos.length === 0 && searchTerm.trim() === ''" class="no-tasks-message">No tasks to do today</p>
        <p *ngIf="filteredTodos.length === 0 && searchTerm.trim() !== ''" class="no-tasks-message">Keine Ergebnisse gefunden</p>
        
        <ul *ngIf="filteredTodos.length > 0">
          <li *ngFor="let todo of filteredTodos" cdkDrag class="example-box " (click)="openTaskDetailsDialog(todo)"> 
            <input type="checkbox" [(ngModel)]="todo.delayed" (change)="toggleDelayed(todo)" />
            <div class="edit-card">
              <h3 >{{ todo.category}}</h3>
              <h2>{{ todo.text }}</h2>
              <p>Description: {{ todo.description }}</p>
              <p>Due Date: {{ todo.dueDate | date }}</p> 
              <p >Priority: {{ todo.priority }}</p>
              <p>Contacts:</p>
              <ul class="contact-list">
                <li *ngFor="let contact of todo.contacts.slice(0, 5)" class="contact-circle"
                (click)="openContactShowDialog(contact)">
                  <strong>{{ contact.name[0] }}</strong>
                </li>
                <li *ngIf="todo.contacts.length > 5" 
                  class="contact-circle extra-contacts" 
                  matTooltip="{{ getHiddenContacts(todo.contacts) }}">
                +{{ todo.contacts.length - 5 }}
              </li>
              </ul>
              <div class="button-container">
                 <button  (click)="openEditDialog(todo, $event)"mat-fab color="primary" extended>Edit</button>
                 <button (click)="deleteTodo(todo.id, $event)" mat-fab  class="custom-fab"  extended>Delete</button>
              </div>

            </div>
          </li>
        </ul>
      </div>

      <!-- Do Today Component -->
      <app-do-today [doTodayTasks]="doTodayTasks" [filteredDoTodayTasks]="filteredDoTodayTasks" [searchTerm]="searchTerm"></app-do-today>
      
      <!-- In Progress Component -->
      <app-in-progress  [inProgressTasks]="inProgressTasks" [filteredInProgressTasks]="filteredInProgressTasks" [searchTerm]="searchTerm"></app-in-progress>
      
      <!-- Done Component -->
      <app-done [doneTasks]="doneTasks" [filteredDoneTasks]="filteredDoneTasks" [searchTerm]="searchTerm"></app-done>
    </div>
  </div>
</div>
